<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>Hobo wars</title>
</head>
<body>
  <div class="wrapper">
    <h1 class="hello">Hello, stranger</h1>
  </div>
  <div class="combat">
    <div class="hits">
      {% for hit in hits %}
      <div class="hit">{{hit}}</span>
      {% endfor %}
    </div>
  </div>
  <form action="/hit" method="POST">
    {% csrf-field %}
    <input type="submit" value="Hit"/>
  </form>
</body>
</html>
